<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ClientId</key>
    <string>Gkqi9ONPd2AaAQalpnjioVLYJ2AZjlu0</string>
    <key>Domain</key>
    <string>dev-9d9mvzzk.us.auth0.com</string>
</dict>
</plist>
